@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body, html {
    height: 100%;
    margin: 0;
}

.hero-image{
  background-image: url(bola.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: grayscale(70%);
}

.hero-text {
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
}

.hero-text h1{
	font-family: 'Ubuntu', sans-serif;
	color: #ffffff;
	font-size: 180%;
}

.hero-text p{
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	font-size: 140%;
	word-wrap: break-word;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: red;
  text-align: center;
  cursor: pointer;
  font-size: 150%;
}

.btn{
	font-family: 'Comfortaa', cursive;
	text-transform: uppercase;
	width: 250px;
	height: 70px;

}

.hero-text button:hover {
  background-color: #555;
  color: white;
}